body {  

    background-color: white;
}
table{
    background: white;
    border: 0 solid white;
    margin: auto;
}
table .pt{
    color: red !important;
}
thead{
    background: white;    
}
table .pheptinh{
    color:blue;
}
h3{
    font-family: verdana;
    text-align: center;
    color: blue;
    font-size: medium;
}
